body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #0077cc;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0077cc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #0077cc;
    color: #fff;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
}


.content-text {
    flex: 1;
}


.content-block {
    margin-bottom: 40px;
    text-align: center;  /* Centre tout le contenu à l'intérieur, y compris les images */
}
/* Images */
.content-image {
    max-width: 50%;
    width: 100%;
    height: auto;
    margin: 0 auto;  /* Centrer horizontalement */
    display: block;  /* Nécessaire pour appliquer 'margin: 0 auto;' */
}



.impact-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.impact-table th, 
.impact-table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.impact-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.impact-table td {
    vertical-align: top;
}

.impact-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.impact-table tr:hover {
    background-color: #f1f1f1;
}

